
# Arquivos removidos da pasta css

centralizar.css-
bootstrap-theme.css-
daterangepicker.css-
daterangepicker.scss-
font-awesome.css-
lato-webfont.css-
magnific-popup.css-
plugins.css-
responsive.css-
style.css-
style.scss-
styleHome.css-
styleLogin.css-