
# Arquivos removidos da pasta css

centralizar.css-
bootstrap-theme.css-
daterangepicker.css-
daterangepicker.scss-
font-awesome.css-
lato-webfont.css-
magnific-popup.css-
plugins.css-
responsive.css-
style.css-
style.scss-
styleHome.css-
styleLogin.css-

-sliders.js
-require.js
-morris-script.js
-moment.min.js
-moment.js
-main.js
-lte-ie7.js
-jquery.tagsinput.js
-jquery.stepy.js
-jquery.sparkline-11.js
-jquery.smartWizard.js
-jquery.localscroll.js
-jquery.hotkeys.js
-jquery.flot.pie.js
-indexLogin.js
-indexLogin.html
-index.html
-html5shiv.js
-index.js
-gritter.js
-fullcalendar.js
-form-component.js
-excanvas.min.js
-dynamic-table.js
-daterangepicker.js
-charts-xcharts.js
-charts-other.js
-charts-flot.js
-chartjs-custom.js
-bootstrap-wysiwyg-custom.js
-bootstrap-wysiwyg.js
-bootstrap-switch.js
-bootstrap-datepicker.pt-BR.min.js
-bootstrap-datepicker.js
-additional-methods.min.js