/bin/
/target/
/build/
.classpath
.settings
.project
/src/main/resources/.env
/WebContent/WEB-INF/faces-config.xml
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml

