<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>digital-valley-sara</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/webapp/indexAutor.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.CadastrarAvaliador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Autenticar</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.Autenticacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverItemCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverItemCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarCoordenadorEvento</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarCoordenadorEvento</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarTrilha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.EditarPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverTrilha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverAvaliador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CadastrarEvento</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.CadastrarEvento</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverCoordenadorTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverCoordenadorTrilha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalvarArquivo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.SalvarArquivo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarAvaliador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverCoordenadorEvento</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverCoordenadorEvento</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarItemCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarItemCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelecionarCriterioTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.SelecionarCriterioTrilha</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Distribuir</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.Distribuir</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <url-pattern>/webapp/jsp/CadastrarAvaliador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Autenticar</servlet-name>
    <url-pattern>/autentica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverItemCriterio</servlet-name>
    <url-pattern>/webapp/jsp/RemoverItemCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarCoordenadorEvento</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarCoordenadorEvento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarCriterio</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarTrilha</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarTrilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarPeriodo</servlet-name>
    <url-pattern>/webapp/jsp/EditarPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarPeriodo</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverPeriodo</servlet-name>
    <url-pattern>/webapp/jsp/RemoverPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverTrilha</servlet-name>
    <url-pattern>/webapp/jsp/RemoverTrilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverAvaliador</servlet-name>
    <url-pattern>/webapp/jsp/RemoverAvaliador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverCriterio</servlet-name>
    <url-pattern>/webapp/jsp/RemoverCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverCoordenadorTrilha</servlet-name>
    <url-pattern>/webapp/jsp/RemoverCoordenadorTrilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalvarArquivo</servlet-name>
    <url-pattern>/webapp/jsp/SalvarArquivo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverCoordenadorEvento</servlet-name>
    <url-pattern>/webapp/jsp/RemoverCoordenadorEvento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarAvaliador</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarAvaliador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarItemCriterio</servlet-name>
    <url-pattern>/webapp/jsp/AdicionarItemCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelecionarCriterioTrilha</servlet-name>
    <url-pattern>/webapp/jsp/SelecionarCriterioTrilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Distribuir</servlet-name>
  	<url-pattern>/webapp/jsp/Distribuir</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>FiltroAutenticado</filter-name>
    <filter-class>br.com.n2s.sara.filter.AutenticadoFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutenticado</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>